*{
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    text-decoration: none;
    color: black;
    list-style-type: none;
    box-sizing: border-box;
}
body{
    width: 100%;
    word-wrap: break-word;
    
}
.container{
    display: grid;
    
    grid-template-columns: repeat(5, minmax(0, 1fr));
    width: 80%;
    margin-left: 10%;
    margin-top: 2em;
}
h1{
    font-size: 3em;
    margin-bottom: 0.5em;
    color: #3eb650;
}
h3{
    font-size: 1.5em;
}
.error{
    display: block;
    grid-column-start: 4;
    height: 2em;
    text-align: center;
    background-color: #e56b1f;

}
img{
    display: block;
}
.bg-img{
    grid-row-start: 1;
    grid-column-start: 3;
    z-index: -1;
}
.btn-gr{
        width: 4em;
        border-radius: 3px;
        height: 2em;
        background-color: #3eb650;
        color: #cae7df;
        border: 1px #fcc133 solid;
        transition: 0.5s ease-in 0.1s;
        -moz-transition: 0.5s ease-in 0.1s;
        -webkit-transition: 0.5s ease-in 0.1s;
}
.btn-gr:hover{
    border: 1px #e56b1f solid;
}
.user{
    grid-column-start: 1;
    grid-column-end: 5;
    margin-bottom: 2em;
    background-color: #e56b1f;
    padding: 0.5em;
    color: #32064a;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.unset-btn{
    grid-column-start: 1;
    width: 10em;
}
.post{
    background-color: #e3e3e3;
    width: 100%;
    word-wrap: break-word;
}
.news{
    height: fit-content;
    width: 800px;
    grid-row-start: 1;
}
.fact{
    background-color: #e3e3e3;
    color: #32064a;
    font-weight: 600;
    border: 1px #32064a solid;
    padding: 0.5em;
}